
<!--begin::Layout-->
<div class="d-flex flex-column flex-lg-row">


  <!--begin::Sidebar-->
  <div *ngIf="getedata.projectDto"  class="flex-column flex-lg-row-auto w-lg-250px w-xl-350px mb-10">
    <!--begin::Card-->
    <div class="card mb-5 mb-xl-8">
      <!--begin::Card body-->
      <div class="card-body">
        <!--begin::Summary-->
        <!--begin::User Info-->
        <div class="d-flex flex-center flex-column py-5">
          <!--begin::Name-->
          <a  class="fs-3 text-gray-800 text-hover-primary fw-bolder mb-3">{{getedata.projectDto.title}}</a>
          <!--end::Name-->
          <!--begin::Position-->
          <div class="mb-9">
            <!--begin::Badge-->
            <div class="badge badge-lg badge-light-primary d-inline">{{getedata.projectDto.statut?.title}}</div>
            <!--begin::Badge-->
          </div>
          <!--end::Position-->
          <!--begin::Info-->
          <!--begin::Info heading-->
          <div class="fw-bolder mb-3">Color
            <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-html="true" data-bs-content="Number of support tickets assigned, closed and pending this week."></i></div>
          <!--end::Info heading-->
          <div class="d-flex flex-wrap flex-center">
            <!--begin::Stats-->
            <div class="border border-gray-300 border-dashed rounded py-3 px-3 mb-3">
              <div class="fs-4 fw-bolder text-gray-700">
                <span class="w-75px">{{getedata.projectDto.contratObjectifs?.length}}</span>
              </div>
              <div class="fw-bold text-muted">Cont.</div>
            </div>
            <!--end::Stats-->

            <!--begin::Stats-->
            <div class="border border-gray-300 border-dashed rounded py-3 px-3 mb-3">
              <div class="fs-4 fw-bolder text-gray-700">
                <span class="w-75px">{{getedata.projectDto.structures?.length}}</span>
              </div>
              <div class="fw-bold text-muted">Str.</div>
            </div>
            <!--end::Stats-->

            <!--begin::Stats-->
            <div class="border border-gray-300 border-dashed rounded py-3 px-3 mb-3">
              <div class="fs-4 fw-bolder text-gray-700">
                <span class="w-75px">{{getedata.projectDto.actions?.length}}</span>
              </div>
              <div class="fw-bold text-muted">Act.</div>
            </div>
            <!--end::Stats-->

            <!--begin::Stats-->
            <div class="border border-gray-300 border-dashed rounded py-3 px-3 mb-3">
              <div class="fs-4 fw-bolder text-gray-700">
                <span class="w-75px">{{getedata.projectDto.evaluations?.length}}</span>
              </div>
              <div class="fw-bold text-muted">Eval.</div>
            </div>
            <!--end::Stats-->
          </div>
          <!--end::Info-->
        </div>
        <!--end::User Info-->

        <!--end::Summary-->
        <!--begin::Details toggle-->
        <div class="d-flex flex-stack fs-4 py-3">
          <div class="fw-bolder rotate collapsible" data-bs-toggle="collapse" href="#kt_user_view_details" role="button" aria-expanded="false" aria-controls="kt_user_view_details">Details
            <span class="ms-2 rotate-180">
                </span></div>
          <span data-bs-toggle="tooltip" data-bs-trigger="hover" title="Edit customer details">
														<a  class="btn btn-sm btn-light-primary" (click)="goToUpdate()">Edit</a>
              </span>
        </div>
        <!--end::Details toggle-->
        <div class="separator"></div>
        <!--begin::Details content-->
        <div  class="collapse show">
          <div class="pb-5 fs-6">
            <!--begin::Details item-->
            <div class="fw-bolder mt-5">Project ID</div>
            <div class="text-gray-600">{{getedata.projectDto.id}}</div>
            <!--end::Details item-->
            <!--begin::Details item-->
            <div class="fw-bolder mt-5">Project Title</div>
            <div class="text-gray-600">{{getedata.projectDto.title}}</div>
            <!--end::Details item-->
            <!--begin::Details item-->
            <div class="fw-bolder mt-5">Project Note</div>
            <div class="text-gray-600">{{getedata.projectDto.note}}</div>
            <!--end::Details item-->
            <!--begin::Details item-->
            <div class="fw-bolder mt-5">Project Type</div>
            <div class="text-gray-600">{{getedata.projectDto.typeProject?.title}}</div>
            <!--end::Details item-->
            <!--begin::Details item-->
            <div class="fw-bolder mt-5">Project Mode</div>
            <div class="text-gray-600">{{getedata.projectDto.modeReel}}</div>
            <!--end::Details item-->
            <!--begin::Details item-->
            <div class="fw-bolder mt-5">Project Taux de Realisation</div>
            <div class="text-gray-600">{{getedata.projectDto.tauxR}}</div>
            <!--end::Details item-->
            <!--begin::Details item-->
            <div class="fw-bolder mt-5">Project Mode</div>
            <div class="text-gray-600">{{getedata.projectDto.modeReel}}</div>
            <!--end::Details item-->
            <!--begin::Details item-->
            <div class="fw-bolder mt-5">Project Start Date</div>
            <div class="text-gray-600">{{getedata.projectDto.startDate}}</div>
            <!--end::Details item-->
            <!--begin::Details item-->
            <div class="fw-bolder mt-5">Project End Date</div>
            <div class="text-gray-600">{{getedata.projectDto.endDate}}</div>
            <!--end::Details item-->
            <!--begin::Details item-->
            <div class="fw-bolder mt-5">Project Start Date Prv</div>
            <div class="text-gray-600">{{getedata.projectDto.startDatePrv}}</div>
            <!--end::Details item-->
            <!--begin::Details item-->
            <div class="fw-bolder mt-5">Project End Date Prv</div>
            <div class="text-gray-600">{{getedata.projectDto.endDatePrv}}</div>
            <!--end::Details item-->

          </div>
        </div>
        <!--end::Details content-->
      </div>
      <!--end::Card body-->
    </div>
    <!--end::Card-->
  </div>
  <!--end::Sidebar-->


  <!--begin::Content-->
  <div class="flex-lg-row-fluid ms-lg-15">




    <!--begin:::Tabs-->
    <ul class="nav nav-custom nav-tabs nav-line-tabs nav-line-tabs-2x border-0 fs-4 fw-bold mb-8">
      <!--begin:::Tab item-->
      <li class="nav-item">
        <a class="nav-link text-active-primary pb-4 " [ngClass]="{'active' : p_overview}" (click)="showOverView()">OverView</a>
      </li>
      <!--end:::Tab item-->
      <!--begin:::Tab item-->
      <li class="nav-item">
        <a class="nav-link text-active-primary pb-4 " [ngClass]="{'active' : p_contrats}" (click)="showContrats()">Contrats</a>
      </li>
      <!--end:::Tab item-->
      <!--begin:::Tab item-->
      <li class="nav-item">
        <a class="nav-link text-active-primary pb-4 " [ngClass]="{'active' : p_structures}" (click)="showStructures()">Structures</a>
      </li>
      <!--end:::Tab item-->
      <!--begin:::Tab item-->
      <li class="nav-item">
        <a class="nav-link text-active-primary pb-4 " [ngClass]="{'active' : p_actions}" (click)="showActions()">Actions</a>
      </li>
      <!--end:::Tab item-->
      <!--begin:::Tab item-->
      <li class="nav-item">
        <a class="nav-link text-active-primary pb-4 " [ngClass]="{'active' : p_evaluations}" (click)="showEvaluations()">Evaluations</a>
      </li>
      <!--end:::Tab item-->


    </ul>
    <!--end:::Tabs-->



    <!--begin:::Tab content-->
    <app-p-over-view-view *ngIf="p_overview && vm" ></app-p-over-view-view>
    <app-p-structure *ngIf="p_structures && vm" [p_sTable]="vm"></app-p-structure>>
    <app-p-evaluation *ngIf="p_evaluations && vm" [p_eTable]="vm"></app-p-evaluation>
    <app-p-contrat *ngIf="p_contrats && vm" [p_coTable]="vm"></app-p-contrat>>
    <app-p-action *ngIf="p_actions && vm" [p_aTable]="vm"></app-p-action>

    <!--end:::Tab content-->


  </div>
  <!--end::Content-->
</div>
<!--end::Layout-->
