<div class="d-flex flex-column flex-lg-row">
  <!--begin::Sidebar-->
  <div *ngIf="getedata.structureDto" class="flex-column flex-lg-row-auto w-lg-250px w-xl-350px mb-10">
    <!--begin::Card-->
    <div  class="card mb-5 mb-xl-8">
      <!--begin::Card body-->
      <div class="card-body">
        <!--begin::Summary-->
        <!--begin::User Info-->
        <div  class="d-flex flex-center flex-column py-5">
          <!--begin::Name-->
          <a class="fs-3 text-gray-800 text-hover-primary fw-bolder mb-3">{{getedata.structureDto.title}}</a>
          <!--end::Name-->
          <!--begin::Info -->
          <!--begin::Info  heading-->
          <div class="fw-bolder mb-3">Assigned Elements
            <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-html="true" data-bs-content="Number of support tickets assigned, closed and pending this week." data-bs-original-title="" title=""></i></div>
          <!--end::Info  heading-->
          <div class="d-flex flex-wrap flex-center">
            <!--begin::Stats-->
            <div class="border border-gray-300 border-dashed rounded py-3 px-3 mb-3">
              <div class="fs-4 fw-bolder text-gray-700">
                <span class="w-75px">{{getedata.structureDto.contratObjectifs?.length}}</span>
              </div>
              <div class="fw-bold text-muted">Cont.</div>
            </div>
            <!--end::Stats-->
            <!--begin::Stats-->
            <div class="border border-gray-300 border-dashed rounded py-3 px-3 mb-3">
              <div class="fs-4 fw-bolder text-gray-700">
                <span class="w-75px">{{getedata.structureDto.projects?.length}}</span>
              </div>
              <div class="fw-bold text-muted">Projects.</div>
            </div>
            <!--end::Stats-->
            <!--begin::Stats-->
            <div class="border border-gray-300 border-dashed rounded py-3 px-3 mb-3">
              <div class="fs-4 fw-bolder text-gray-700">
                <span class="w-75px">{{getedata.structureDto.actionPs?.length}}</span>
              </div>
              <div class="fw-bold text-muted">Actions.</div>
            </div>
            <!--end::Stats-->
            <!--begin::Stats-->
            <div class="border border-gray-300 border-dashed rounded py-3 px-3 mb-3">
              <div class="fs-4 fw-bolder text-gray-700">
                <span class="w-75px">{{getedata.structureDto.gestionnaires?.length}}</span>
              </div>
              <div class="fw-bold text-muted">Gestionaires.</div>
            </div>
            <!--end::Stats-->
            <!--begin::Stats-->
            <div class="border border-gray-300 border-dashed rounded py-3 px-3 mb-3">
              <div class="fs-4 fw-bolder text-gray-700">
                <span class="w-75px">{{getedata.structureDto.structureChildren?.length}}</span>
              </div>
              <div class="fw-bold text-muted">Child Str.</div>
            </div>
            <!--end::Stats-->
          </div>
          <!--end::  Info-->


        </div>
        <!--end::User Info-->
        <!--end::Summary-->
        <!--begin::Details toggle-->
        <div class="d-flex flex-stack fs-4 py-3">
          <div class="fw-bolder rotate collapsible" data-bs-toggle="collapse" href="#kt_user_view_details" role="button" aria-expanded="false" aria-controls="kt_user_view_details">Details
            <span class="ms-2 rotate-180">
                </span></div>
          <span data-bs-toggle="tooltip" data-bs-trigger="hover" title="Edit customer details">
														<a  class="btn btn-sm btn-light-primary" (click)="goToUpdate()">Edit</a>
              </span>
        </div>
        <!--end::Details toggle-->
        <div class="separator"></div>
        <!--begin::Details content-->
        <div class="collapse show">
          <div class="pb-5 fs-6">
            <!--begin::Details item-->
            <!--begin::Details item-->
            <div class="fw-bolder mt-5">Structure Note</div>
            <div class="text-gray-600">{{getedata.structureDto.note  }}</div>
            <!--begin::Details item-->
            <div class="fw-bolder mt-5">Start Date</div>
            <div class="text-gray-600">{{getedata.structureDto.startDate |  date:'medium' }}</div>
            <!--begin::Details item-->
            <!--begin::Details item-->
            <div class="fw-bolder mt-5">End Date</div>
            <div class="text-gray-600">{{getedata.structureDto.endDate |  date:'medium' }}</div>
            <!--begin::Details item-->

          </div>
        </div>
        <!--end::Details content-->
      </div>
      <!--end::Card body-->
    </div>
    <!--end::Card-->
  </div>
  <!--end::Sidebar-->
  <!--begin::Content-->
  <div class="flex-lg-row-fluid ms-lg-15">
    <!--begin:::Tabs-->
    <ul class="nav nav-custom nav-tabs nav-line-tabs nav-line-tabs-2x border-0 fs-4 fw-bold mb-8">
      <!--begin:::Tab item-->
      <li class="nav-item">
        <a class="nav-link text-active-primary pb-4 " (click)=" showhideO()" [ngClass]="{ 'active': o }" >Overview</a>
      </li>
      <!--end:::Tab item-->
      <!--begin:::Tab item-->
      <li class="nav-item">
        <a class="nav-link text-active-primary pb-4 " (click)=" showhideCo()" [ngClass]="{ 'active': co }" >Contrats</a>
      </li>
      <!--end:::Tab item-->
      <!--begin:::Tab item-->
      <li class="nav-item">
        <a class="nav-link text-active-primary pb-4 " (click)=" showhideSc()" [ngClass]="{ 'active': sc }" >Sous Structures</a>
      </li>
      <!--end:::Tab item-->
      <!--begin:::Tab item-->
      <li class="nav-item">
        <a class="nav-link text-active-primary pb-4 " (click)=" showhideP()" [ngClass]="{ 'active': p }" >Projects</a>
      </li>
      <!--end:::Tab item-->
      <!--begin:::Tab item-->
      <li class="nav-item">
        <a class="nav-link text-active-primary pb-4" (click)="showhideA()" [ngClass]="{ 'active': a }">Actions </a>
      </li>
      <!--end:::Tab item-->
      <!--begin:::Tab item-->
      <li class="nav-item">
        <a class="nav-link text-active-primary pb-4 " (click)=" showhideG()" [ngClass]="{ 'active': g }" >Gestionnaires</a>
      </li>
      <!--end:::Tab item-->
    </ul>
    <!--end:::Tabs-->

      <!--begin:::Tab pane-->
      <app-o-structure *ngIf="o && vm" >loading ...</app-o-structure>
      <!--end:::Tab pane-->
      <!--begin:::Tab pane-->
      <app-co-structure *ngIf="co && vm" [str_coTable]=vm >loading ...</app-co-structure>
      <!--end:::Tab pane-->
      <!--begin:::Tab pane-->
      <app-g-structure *ngIf="g && vm" [str_gTable]=vm >loading ...</app-g-structure>
      <!--end:::Tab pane-->
      <!--begin:::Tab pane-->
      <app-sc-structure *ngIf="sc && vm" [str_scTable]=vm >loading ...</app-sc-structure>
      <!--end:::Tab pane-->
      <!--begin:::Tab pane-->
      <app-p-structure *ngIf="p && vm" [str_pTable]=vm >loading ...</app-p-structure>
      <!--end:::Tab pane-->
      <!--begin:::Tab pane-->
      <app-a-structure *ngIf="a && vm" [str_aTable]=vm > loading ...</app-a-structure>


    <!--end:::Tab content-->
  </div>
  <!--end::Content-->
</div>
