<form #cobtratCreateForm="ngForm"  class="form d-flex flex-column flex-lg-row" >

  <!--begin::Aside column-->
  <div class="d-flex flex-column gap-7 gap-lg-10 w-100 w-lg-300px mb-7 me-lg-10">

    <!--begin::Order details-->
    <div class="card card-flush py-4">
      <!--begin::Card header-->
      <div class="card-header">
        <div class="card-title">
          <h2>Contrat Date</h2>
        </div>
      </div>
      <!--end::Card header-->
      <!--begin::Card body-->
      <div class="card-body pt-0">
        <div class="d-flex flex-column gap-10">
          <!--begin::Input group-->
          <div class="fv-row">
            <!--begin::Label-->
            <label class="required form-label">Start Date</label>
            <!--end::Label-->
            <!--begin::Editor-->
            <input [(ngModel)]="startD" name="startDate" type="date" placeholder="Select a date" class="form-control mb-2"  />
            <!--end::Editor-->
            <!--begin::Description-->
            <div class="text-muted fs-7">Set the start date of the Contrat to process.</div>
            <!--end::Description-->
          </div>
          <!--end::Input group-->
          <!--begin::Input group-->
          <div class="fv-row">
            <!--begin::Label-->
            <label class="required form-label">End Date</label>
            <!--end::Label-->
            <!--begin::Editor-->
            <input [(ngModel)]="endD" name="endDate"  type="date"  placeholder="Select a date" class="form-control mb-2"  />
            <!--end::Editor-->
            <!--begin::Description-->
            <div class="text-muted fs-7">Set the end date of the Contrat to process.</div>
            <!--end::Description-->
          </div>
          <!--end::Input group-->
        </div>
      </div>
      <!--end::Card header-->
    </div>
    <!--end::Order details-->

  </div>
  <!--end::Aside column-->

  <!--begin::Main column-->
  <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
    <!--begin::General options-->
    <div class="card card-flush py-4">
      <!--begin::Card header-->
      <div class="card-header">
        <div class="card-title">
          <h2>General</h2>
        </div>
        <div class="card-toolbar">
          <button (click)="open(content)" type="button" class="btn btn-warning float-right">Bulk Creating Contrats</button>
        </div>
      </div>
      <!--end::Card header-->
      <!--begin::Card body-->
      <div class="card-body pt-0">
        <!--begin::Input group-->
        <div class="mb-10 fv-row">
          <!--begin::Label-->
          <label class="required form-label">Contrat Name</label>
          <!--end::Label-->
          <!--begin::Input-->
          <input [(ngModel)]="title" type="text" name="title" class="form-control mb-2" placeholder="Contrat name" value="" />
          <!--end::Input-->
          <!--begin::Description-->
          <div class="text-muted fs-7">A Contrat name is required and recommended to be unique.</div>
          <!--end::Description-->
        </div>
        <!--end::Input group-->

        <!--begin::Input group-->
        <div class="mb-10 fv-row">
          <!--begin::Label-->
          <label class="form-label">Comment</label>
          <!--end::Label-->
          <!--begin::Editor-->
          <div >
            <textarea [(ngModel)]="comment" name="note" class="form-control mb-2"  ></textarea>
          </div>
          <!--end::Editor-->
          <!--begin::Description-->
          <div class="text-muted fs-7">Set a Comment to the Contrat for better visibility.</div>
          <!--end::Description-->
        </div>
        <!--end::Input group-->

        <!--begin::Input group-->
        <div  class="mb-10 fv-row">
          <!--begin::Label-->
          <label class="form-label">Contrat Is Active ?</label>
          <!--end::Label-->
          <!--begin::Select2-->
          <select [(ngModel)]="a" class="form-select mb-2" data-control="select2" data-hide-search="true" data-placeholder="Select an option" name="contratObjectifs" >
            <option  [ngValue]="true" > Yes</option>
            <option   [ngValue]="false" >No</option>
          </select>
          <!--end::Select2-->
          <!--begin::Description-->
          <div class="text-muted fs-7">Set the Contrat Objectifs. The defeult value means True.</div>
          <!--end::Description-->
        </div>
        <!--end::Input group-->

      </div>
      <!--end::Card header-->
    </div>
    <!--end::General options-->
    <div class="d-flex justify-content-end">
      <!--begin::Button-->
      <a href="../../demo1/dist/apps/ecommerce/catalog/products.html" id="kt_ecommerce_add_product_cancel" class="btn btn-light me-5">Cancel</a>
      <!--end::Button-->
      <!--begin::Button-->
      <button (click)="onSubmit()" type="submit" >
        <span class="indicator-label">Save Changes</span>
        <span class="indicator-progress">Please wait...
												<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
      </button>
      <!--end::Button-->
    </div>
  </div>
  <!--end::Main column-->
</form>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Bulk Create Contrats</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>

  <div class="modal-body scroll-y px-10 px-lg-15 pt-0 pb-15">
    <!--begin::Input group-->
    <div class="mb-10">
      <br><br><br><br>
      <input (change)="onselectedChange($event)" name="selectedFile" type="file" class="file-input justify-content-between"
      >
      <br><br><br><br>
      <!--begin::Separator-->
      <div class="separator separator-dashed mb-8"></div>
      <!--end::Separator-->
      <br>
      <a
        href="./assets/examples/Contrats_insert.xlsx"
        target="_blank"
        download="Contrats_insert.xlsx"
      >
        <app-card4
          icon="./assets/media/svg/files/file_type_excel_icon_130611.svg"
          title="Exemplaire Contrats"
          description="Download Exemplaire for better vision ..."
        ></app-card4>
      </a>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="d('Cross click')">Cancel</button>
    <button type="button" class="btn btn-success" (click)="c('yes')">Send</button>
  </div>
</ng-template>
