<!--begin::Card-->
<div *ngIf="receivedValueg.structureDto" class="card card-flush mb-6 mb-xl-9">
  <!--begin::Card header-->
  <div class="card-header mt-6">
    <!--begin::Card title-->
    <div class="card-title flex-column">
      <div class="fs-6 fw-bold text-muted">Total :  {{receivedValueg.structureDto.gestionnaires?.length}}</div>
    </div>
    <!--end::Card title-->
    <!--begin::Card toolbar-->
    <div class="card-toolbar">
      <button type="button" class="btn btn-light-primary btn-sm" data-bs-toggle="modal" data-bs-target="#kt_modal_add_task">
        <!--begin::Svg Icon | path: icons/duotune/files/fil005.svg-->
        <span class="svg-icon svg-icon-3">
																<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
																	<path opacity="0.3" d="M19 22H5C4.4 22 4 21.6 4 21V3C4 2.4 4.4 2 5 2H14L20 8V21C20 21.6 19.6 22 19 22ZM16 13.5L12.5 13V10C12.5 9.4 12.6 9.5 12 9.5C11.4 9.5 11.5 9.4 11.5 10L11 13L8 13.5C7.4 13.5 7 13.4 7 14C7 14.6 7.4 14.5 8 14.5H11V18C11 18.6 11.4 19 12 19C12.6 19 12.5 18.6 12.5 18V14.5L16 14C16.6 14 17 14.6 17 14C17 13.4 16.6 13.5 16 13.5Z" fill="currentColor" />
																	<rect x="11" y="19" width="10" height="2" rx="1" transform="rotate(-90 11 19)" fill="currentColor" />
																	<rect x="7" y="13" width="10" height="2" rx="1" fill="currentColor" />
																	<path d="M15 8H20L14 2V7C14 7.6 14.4 8 15 8Z" fill="currentColor" />
																</svg>
															</span>
        <!--end::Svg Icon-->Repports</button>
    </div>
    <!--end::Card toolbar-->
  </div>
  <!--end::Card header-->
  <!--begin::Card body-->
  <div *ngIf="receivedValueg.structureDto.gestionnaires"  class="card-body p-9 pt-4">
    <!-- begin::Table container -->
    <div  class="table-responsive">
      <!-- begin::Table -->
      <table
        class="table table-row-bordered table-row-gray-100 align-middle gs-0 gy-3"
      >
        <!-- begin::Table head -->
        <thead>
        <tr class="fw-bolder text-muted">
          <th class="min-w-150px">ID</th>
          <th class="min-w-120px">Code</th>
          <th class="min-w-140px">Nom</th>
          <th class="min-w-140px">Prenom</th>

        </tr>
        </thead>
        <!-- end::Table head -->
        <!-- begin::Table body -->

        <tbody>
        <tr *ngFor="let user of  receivedValueg.structureDto.gestionnaires | paginate
              : {
                  itemsPerPage: tableSize,
                  currentPage: page,
                  totalItems: count
                };
          let i = index;">

          <td>
            <a href="#" class="text-dark fw-bolder text-hover-primary fs-6">
              {{user.id}}
            </a>
          </td>
          <td>
            <a
              href="#"
              class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6"
            >
              {{user.code}}
            </a>

          </td>
          <td>
            <a
              href="#"
              class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6"
            >
              {{user.nom}}
            </a>

          </td>
          <td>
            <a
              href="#"
              class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6"
            >
              {{user.prenom}}
            </a>

          </td>

        </tr>
        </tbody>
        <!-- end::Table body -->
      </table>
      <!-- end::Table -->
      <div class="d-flex justify-content-center">
        <pagination-controls
          previousLabel="Prev"
          nextLabel="Next"
          (pageChange)="onTableDataChange($event)"
        >
        </pagination-controls>
      </div>
    </div>
    <!-- end::Table container -->
  </div>
  <!--end::Card body-->
</div>
<!--end::Card-->

