<div  class="card mb-5 mb-xl-8">
  <div class="card-header align-items-center py-5 gap-2 gap-md-5" data-select2-id="select2-data-124-ubni">
    <!--begin::Card title-->
    <div class="card-title">
      <!--begin::Search-->
      <div class="d-flex align-items-center position-relative my-1">
        <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
        <span class="svg-icon svg-icon-1 position-absolute ms-4">
													<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
														<rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor"></rect>
														<path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor"></path>
													</svg>
												</span>
        <!--end::Svg Icon-->
        <input type="text" data-kt-ecommerce-order-filter="search" class="form-control form-control-solid w-250px ps-14" placeholder="Search Order">
      </div>
      <!--end::Search-->
    </div>
    <!--end::Card title-->
    <!--begin::Card toolbar-->
    <div class="card-toolbar flex-row-fluid justify-content-end gap-5" data-select2-id="select2-data-123-s1pp">
      <!--begin::Flatpickr-->
      <div class="input-group w-250px">
        <input class=" form-control form-control-solid rounded rounded-end-0" placeholder="Pick date range"/>
        <button class="btn btn-icon btn-light" id="kt_ecommerce_sales_flatpickr_clear">
          <!--begin::Svg Icon | path: icons/duotune/arrows/arr088.svg-->
          <span class="svg-icon svg-icon-2">
														<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
															<rect opacity="0.5" x="7.05025" y="15.5356" width="12" height="2" rx="1" transform="rotate(-45 7.05025 15.5356)" fill="currentColor" />
															<rect x="8.46447" y="7.05029" width="12" height="2" rx="1" transform="rotate(45 8.46447 7.05029)" fill="currentColor" />
														</svg>
													</span>
          <!--end::Svg Icon-->
        </button>

      </div>
      <!--end::Flatpickr-->
      <!--begin::Add product-->
      <a routerLink="/evaluations/create" class="btn btn-primary">Add Evaluation</a>
      <!--end::Add product-->
    </div>
    <!--end::Card toolbar-->
  </div>
</div>
<div *ngIf="vm.evaluationDtos" class="card mb-5 mb-xl-8">
  <!-- begin::Header -->
  <div  class="card-header border-0 pt-5">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label fw-bolder fs-3 mb-1">Evaluations records</span>
      <span class="text-muted mt-1 fw-bold fs-7">Over {{vm.evaluationDtos.length}} evaluations</span>
    </h3>
  </div>
  <!-- end::Header -->
  <!-- begin::Body -->
  <div  class="card-body py-3">
    <!-- begin::Table container -->
    <!-- begin::Table container -->
    <div  class="table-responsive">
      <!-- begin::Table -->
      <table  matSort (matSortChange)="sortData($event)"
        class="table table-row-bordered table-row-gray-100 align-middle gs-0 gy-3"
      >
        <!-- begin::Table head -->
        <thead>
        <tr class="fw-bolder text-muted">
          <th class="w-25px">
            <div
              class="
                form-check form-check-sm form-check-custom form-check-solid
              "
            >
              <input
                class="form-check-input"
                type="checkbox"
                value="1"
                data-kt-check="true"
                data-kt-check-target=".widget-13-check"
              />
            </div>
          </th>
          <th mat-sort-header="id" class="min-w-150px">ID</th>
          <th mat-sort-header="title" class="min-w-140px">Title</th>
          <th mat-sort-header="startDate" class="min-w-120px">Start Date </th>
          <th mat-sort-header="endDate" class="min-w-120px">End Date</th>
          <th mat-sort-header="statut" class="min-w-120px">Statut</th>
          <th class="min-w-100px text-end">----------</th>
        </tr>
        </thead>
        <!-- end::Table head -->
        <!-- begin::Table body -->

        <tbody>

        <tr *ngFor="let evaluation of  sortedData | paginate
              : {
                  itemsPerPage: tableSize,
                  currentPage: page,
                  totalItems: count
                };
          let i = index">
          <td>
            <div
              class="
                form-check form-check-sm form-check-custom form-check-solid
              "
            >
              <input
                class="form-check-input widget-13-check"
                type="checkbox"
                value="1"
              />
            </div>
          </td>
          <td>
            <a href="#" class="text-dark fw-bolder text-hover-primary fs-6">
              {{evaluation.id}}
            </a>
          </td>
          <td>
            <a
              href="#"
              class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6"
            >
              {{evaluation.title}}
            </a>

          </td>
          <td>
            <span class="text-muted fw-bold text-muted d-block fs-7"
            >  {{evaluation.startDate |  date:'medium'}}</span
            >
          </td>
          <td>

            <span class="text-muted fw-bold text-muted d-block fs-7">
             {{evaluation.endDate |  date:'medium'}}
            </span>
          </td>


          <td *ngIf="evaluation.statut?.color == 8">
            <div  class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">
              {{evaluation.statut?.title}}
            </div>
          </td>
          <td *ngIf="evaluation.statut?.color == 7">
            <!--begin::Badges-->
            <div class="badge badge-light-light">{{evaluation.statut?.title}}</div>
            <!--end::Badges-->
          </td>
          <td *ngIf="evaluation.statut?.color == 6">
            <!--begin::Badges-->
            <div class="badge badge-light-dark">{{evaluation.statut?.title}}</div>
            <!--end::Badges-->
          </td>
          <td *ngIf="evaluation.statut?.color == 5">
            <!--begin::Badges-->
            <div class="badge badge-light-secondary">{{evaluation.statut?.title}}</div>
            <!--end::Badges-->
          </td>
          <td *ngIf="evaluation.statut?.color == 4">
            <!--begin::Badges-->
            <div class="badge badge-light-danger">{{evaluation.statut?.title}}</div>
            <!--end::Badges-->
          </td>
          <td *ngIf="evaluation.statut?.color == 3">
            <!--begin::Badges-->
            <div class="badge badge-light-warning">{{evaluation.statut?.title}}</div>
            <!--end::Badges-->
          </td>
          <td *ngIf="evaluation.statut?.color == 2">
            <!--begin::Badges-->
            <div class="badge badge-light-info">{{evaluation.statut?.title}}</div>
            <!--end::Badges-->
          </td>
          <td *ngIf="evaluation.statut?.color == 1">
            <!--begin::Badges-->
            <div class="badge badge-light-success">{{evaluation.statut?.title}}</div>
            <!--end::Badges-->
          </td>
          <td *ngIf="evaluation.statut?.color == 0">
            <!--begin::Badges-->
            <div class="badge badge-light-primary">{{evaluation.statut?.title}}</div>
            <!--end::Badges-->
          </td>

          <td class="text-end">
            <div ngbDropdown>
              <button class="btn btn-sm btn-primary cursor-pointer" id="gfg"
                      ngbDropdownToggle>Actions</button>
              <div ngbDropdownMenu="gfg">
                <button ngbDropdownItem>View</button>
                <button ngbDropdownItem (click)="goToUpdate(evaluation.id)">Update</button>
                <button ngbDropdownItem (click)="open(content,evaluation.id)">Delete</button>
              </div>
            </div>
          </td>
        </tr>


        </tbody>
        <!-- end::Table body -->
      </table>
      <!-- end::Table -->
      <div class="d-flex justify-content-center">
        <pagination-controls
          previousLabel="Prev"
          nextLabel="Next"
          (pageChange)="onTableDataChange($event)"
        >
        </pagination-controls>
      </div>
    </div>
    <!-- end::Table container -->
    <!-- end::Table container -->
  </div>
  <!-- begin::Body -->

</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure to delete this?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="d('Cross click')">Cancel</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('yes')">Yes</button>
  </div>
</ng-template>
