<form #typeProjectCreateForm="ngForm"  class="form d-flex flex-column flex-lg-row" >

  <!--begin::Main column-->
  <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
    <!--begin::General options-->
    <div class="card card-flush py-4">
      <!--begin::Card header-->
      <div class="card-header">
        <div class="card-title">
          <h2>General</h2>
        </div>
      </div>
      <!--end::Card header-->
      <!--begin::Card body-->
      <div class="card-body pt-0">
        <!--begin::Input group-->
        <div class="mb-10 fv-row">
          <!--begin::Label-->
          <label class="required form-label">Type Projects Name</label>
          <!--end::Label-->
          <!--begin::Input-->
          <input [(ngModel)]="title" type="text" name="title" class="form-control mb-2" placeholder="Product name" value="" />
          <!--end::Input-->
          <!--begin::Description-->
          <div class="text-muted fs-7">A Type Projects Code name is required and recommended to be unique.</div>
          <!--end::Description-->
        </div>
        <!--end::Input group-->
        <!--begin::Input group-->
        <div class="mb-10 fv-row">
          <!--begin::Label-->
          <label class="required form-label">Type Projects Code</label>
          <!--end::Label-->
          <!--begin::Input-->
          <input [(ngModel)]="codeTp" type="text" name="codeTP" class="form-control mb-2" placeholder="Product name" value="" />
          <!--end::Input-->
          <!--begin::Description-->
          <div class="text-muted fs-7">A Type Projects Code name is required and recommended to be unique.</div>
          <!--end::Description-->
        </div>
        <!--end::Input group-->

        <!--begin::Input group-->
        <div class="mb-10 fv-row">
          <!--begin::Label-->
          <label class="form-label">Comment</label>
          <!--end::Label-->
          <!--begin::Editor-->
          <div >
            <textarea [(ngModel)]="comment" name="note" class="form-control mb-2"  ></textarea>
          </div>
          <!--end::Editor-->
          <!--begin::Description-->
          <div class="text-muted fs-7">Set a Type Projects to the structure for better visibility.</div>
          <!--end::Description-->
        </div>
        <!--end::Input group-->


      </div>
      <!--end::Card header-->
    </div>
    <!--end::General options-->
    <div class="d-flex justify-content-end">
      <!--begin::Button-->
      <a href="../../demo1/dist/apps/ecommerce/catalog/products.html" id="kt_ecommerce_add_product_cancel" class="btn btn-light me-5">Cancel</a>
      <!--end::Button-->
      <!--begin::Button-->
      <button (click)="onSubmit()" type="submit" >
        <span class="indicator-label">Save Changes</span>
        <span class="indicator-progress">Please wait...
												<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
      </button>
      <!--end::Button-->
    </div>
  </div>
  <!--end::Main column-->
</form>
