<form #actionCreateForm="ngForm"  class="form d-flex flex-column flex-lg-row" >

  <!--begin::Aside column-->
  <div class="d-flex flex-column gap-7 gap-lg-10 w-100 w-lg-300px mb-7 me-lg-10">

    <!--begin::Order details-->
    <div class="card card-flush py-4">
      <!--begin::Card header-->
      <div class="card-header">
        <div class="card-title">
          <h2>Statut and Budget</h2>
        </div>
      </div>
      <!--end::Card header-->
      <!--begin::Card body-->
      <div class="card-body pt-0">
        <div class="d-flex flex-column gap-10">
          <!--begin::Input group-->
          <div class="fv-row">
            <!--begin::Input group-->
            <!--begin::Label-->
            <label class="form-label">Statut</label>
            <!--end::Label-->
            <div *ngIf="vmStatut.statutDtos" class="mb-10 fv-row">
              <!--begin::Select2-->
              <select [(ngModel)]="stat" class="form-select mb-2" data-control="select2" data-hide-search="true" data-placeholder="Select an option" name="contratObjectifs" >
                <option  [ngValue]="null" ></option>
                <option  *ngFor="let c of vmStatut.statutDtos" [ngValue]="c.id" >{{c.title}}</option>
              </select>
              <!--end::Select2-->
              <!--begin::Description-->
              <div class="text-muted fs-7">Set the Contrat Objectifs. The defeult value means he have no Contarct.</div>
              <!--end::Description-->
            </div>
            <!--end::Input group-->
          </div>
          <!--end::Input group-->
          <!--begin::Input group-->
          <div class="fv-row">
            <!--begin::Label-->
            <label class="form-label">Budget</label>
            <!--end::Label-->
            <!--begin::Input-->
            <input [(ngModel)]="budgR" type="number" name="budgR" class="form-control mb-2" placeholder="0000000" value="" />
            <!--end::Input-->
            <!--begin::Description-->
            <div class="text-muted fs-7"> The default Budget value means Budget = 0 .</div>
            <!--end::Description-->
          </div>
          <!--end::Input group-->
          <!--begin::Input group-->
          <div class="fv-row">
            <!--begin::Label-->
            <label class="form-label">Budget Preview</label>
            <!--end::Label-->
            <!--begin::Input-->
            <input [(ngModel)]="budgPrv" type="number" name="title" class="form-control mb-2" placeholder="0000000" value="" />
            <!--end::Input-->
            <!--begin::Description-->
            <div class="text-muted fs-7"> The default Budget Preview value means Budget Preview = 0 .</div>
            <!--end::Description-->
          </div>
          <!--end::Input group-->
        </div>
      </div>
      <!--end::Card header-->
    </div>
    <!--end::Order details-->

    <!--begin::Order details-->
    <div class="card card-flush py-4">
      <!--begin::Card header-->
      <div class="card-header">
        <div class="card-title">
          <h2>Structure Date</h2>
        </div>
      </div>
      <!--end::Card header-->
      <!--begin::Card body-->
      <div class="card-body pt-0">
        <div class="d-flex flex-column gap-10">
          <!--begin::Input group-->
          <div class="fv-row">
            <!--begin::Label-->
            <label class="required form-label">Start Date</label>
            <!--end::Label-->
            <!--begin::Editor-->
            <input [(ngModel)]="startD" name="startDate" type="date" placeholder="Select a date" class="form-control mb-2"  />
            <!--end::Editor-->
            <!--begin::Description-->
            <div class="text-muted fs-7">Set the start date of the structure to process.</div>
            <!--end::Description-->
          </div>
          <!--end::Input group-->
          <!--begin::Input group-->
          <div class="fv-row">
            <!--begin::Label-->
            <label class="required form-label">End Date</label>
            <!--end::Label-->
            <!--begin::Editor-->
            <input [(ngModel)]="endD" name="endDate"  type="date"  placeholder="Select a date" class="form-control mb-2"  />
            <!--end::Editor-->
            <!--begin::Description-->
            <div class="text-muted fs-7">Set the end date of the order to process.</div>
            <!--end::Description-->
          </div>
          <!--end::Input group-->
        </div>
      </div>
      <!--end::Card header-->
    </div>
    <!--end::Order details-->

    <!--begin::Order details-->
    <div class="card card-flush py-4">
      <!--begin::Card header-->
      <div class="card-header">
        <div class="card-title">
          <h2>Structure Date Preview</h2>
        </div>
      </div>
      <!--end::Card header-->
      <!--begin::Card body-->
      <div class="card-body pt-0">
        <div class="d-flex flex-column gap-10">
          <!--begin::Input group-->
          <div class="fv-row">
            <!--begin::Label-->
            <label class="required form-label">Start Date Prv</label>
            <!--end::Label-->
            <!--begin::Editor-->
            <input [(ngModel)]="startDPrv" name="startDate" type="date" placeholder="Select a date" class="form-control mb-2"  />
            <!--end::Editor-->
            <!--begin::Description-->
            <div class="text-muted fs-7">Set the start date of the structure to process.</div>
            <!--end::Description-->
          </div>
          <!--end::Input group-->
          <!--begin::Input group-->
          <div class="fv-row">
            <!--begin::Label-->
            <label class="required form-label">End Date Prv</label>
            <!--end::Label-->
            <!--begin::Editor-->
            <input [(ngModel)]="endDPrv" name="endDate"  type="date"  placeholder="Select a date" class="form-control mb-2"  />
            <!--end::Editor-->
            <!--begin::Description-->
            <div class="text-muted fs-7">Set the end date of the order to process.</div>
            <!--end::Description-->
          </div>
          <!--end::Input group-->
        </div>
      </div>
      <!--end::Card header-->
    </div>
    <!--end::Order details-->


  </div>
  <!--end::Aside column-->


  <!--begin::Main column-->
  <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
    <!--begin::General options-->
    <div class="card card-flush py-4">
      <!--begin::Card header-->
      <div class="card-header">
        <div class="card-title">
          <h2>General</h2>
        </div>
      </div>
      <!--end::Card header-->
      <!--begin::Card body-->
      <div class="card-body pt-0">
        <!--begin::Input group-->
        <div class="mb-10 fv-row">
          <!--begin::Label-->
          <label class="required form-label">Action Name</label>
          <!--end::Label-->
          <!--begin::Input-->
          <input [(ngModel)]="title" type="text" name="title" class="form-control mb-2" placeholder="Product name" value="" />
          <!--end::Input-->
          <!--begin::Description-->
          <div class="text-muted fs-7">A Action name is required and recommended to be unique.</div>
          <!--end::Description-->
        </div>
        <!--end::Input group-->

        <!--begin::Input group-->
        <div class="mb-10 fv-row">
          <!--begin::Label-->
          <label class="form-label">Comment</label>
          <!--end::Label-->
          <!--begin::Editor-->
          <div >
            <textarea [(ngModel)]="comment" name="note" class="form-control mb-2"  ></textarea>
          </div>
          <!--end::Editor-->
          <!--begin::Description-->
          <div class="text-muted fs-7">Set a Comment to the structure for better visibility.</div>
          <!--end::Description-->
        </div>
        <!--end::Input group-->
        <div *ngIf="vmP.projectDtos" class="mb-10 fv-row">
          <!--begin::Label-->
          <label class="form-label">Project</label>
          <!--end::Label-->
          <!--begin::Select2-->
          <select [(ngModel)]="p" class="form-select mb-2" data-control="select2" data-hide-search="true" data-placeholder="Select an option" name="contratObjectifs" >
            <option  [ngValue]="null" ></option>
            <option  *ngFor="let c of vmP.projectDtos" [ngValue]="c.id" >{{c.title}}</option>
          </select>
          <!--end::Select2-->
          <!--begin::Description-->
          <div class="text-muted fs-7">Set the Project . The defeult value means he have no Contarct.</div>
          <!--end::Description-->
        </div>
        <!--end::Input group-->
        <!--begin::Input group-->
        <div *ngIf="vmS.structureDtos" class="mb-10 fv-row">
          <!--begin::Label-->
          <label class="form-label">Structures</label>
          <!--end::Label-->
          <div >
            <!--begin::Select2-->
            <ng-multiselect-dropdown
              [placeholder]="'custom placeholder'"
              [settings]="dropdownSettings"
              [data]="dropdownList"
              [(ngModel)]="selectedItems"
              (onSelect)="onItemSelect($event)"
              (onSelectAll)="onSelectAll($event)"
              (onDeSelect)="deSelect($event)"
              (onDeSelectAll)="deSelectAll($event)"
            >
            </ng-multiselect-dropdown>
            <!--end::Select2-->
          </div>
          <!--begin::Description-->
          <div class="text-muted fs-7">Set the Contrat Objectifs. The defeult value means he have no Contarct.</div>
          <!--end::Description-->
        </div>
        <!--end::Input group-->


      </div>
      <!--end::Card header-->
    </div>
    <!--end::General options-->
    <div class="d-flex justify-content-end">
      <!--begin::Button-->
      <a href="../../demo1/dist/apps/ecommerce/catalog/products.html" id="kt_ecommerce_add_product_cancel" class="btn btn-light me-5">Cancel</a>
      <!--end::Button-->
      <!--begin::Button-->
      <button (click)="onSubmit()" type="submit" >
        <span class="indicator-label">Save Changes</span>
        <span class="indicator-progress">Please wait...
												<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
      </button>
      <!--end::Button-->
    </div>
  </div>
  <!--end::Main column-->
</form>
